* {
  margin: 0;
  padding: 0;
  /* box-sizing: border-box; */
  scroll-behavior: smooth;
  font-family: "Bitter", serif;
}

:root {
  --bgOrange: #e84949;
}

#wrapper {
  height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;
}

.container {
  width: 1200px;
  margin: 0 auto;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding-top: 1rem;
}

.logo_container {
  display: flex;
  justify-content: baseline;
  align-items: center;
}

.logo {
  width: 80px;
  margin-bottom: 1em;
}

.logo_text {
  margin-left: -1.7rem;
  font-size: 28px;
}

.nav_items {
  display: flex;
  gap: 2rem;
  padding: 0 4rem;
}

.nav_items div {
  font-size: 20px;
  font-weight: 500;
  cursor: pointer;
}

a {
  text-decoration: none;
  color: #000000;
}

.nav_items div:hover {
  transition: 0.8s;
  font-weight: bold;
}

.hero_section {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;

  gap: 5rem;
  margin: 4rem auto;
  padding: 0 1rem;
  padding-bottom: 8rem;
}

.faded_text {
  position: absolute;
  user-select: none;
  font-size: 7rem;
  color: rgb(231, 231, 231);
  bottom: -16%;
  left: -5%;
  font-weight: bold;
  transition: all 3s;
}

.hero_section_left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2rem;
}

.hero_section_heading {
  font-size: 35px;
  color: #343d68;
  font-weight: 500;
}

.role {
  color: #4e45d5;
  font-weight: 800;
}

.hero_section_subheading {
  font-size: 45px;
  line-height: 45px;
}

.hero_section_description {
  margin-top: 1rem;
  width: 70%;
  font-weight: 500;
}

.btn_pink {
  background-color: #e84949;
  width: fit-content;
  color: white;
  padding: 0.8rem 2.3rem;
  box-shadow: 5px 5px 7px 0px #0000003f;
  font-size: 18px;
  cursor: pointer;
  transition: all 0.5s;
  font-weight: 500;
  border: solid 3px transparent;
  position: relative;
  z-index: 1;
}

.btn_pink::before {
  content: "";
  position: absolute;
  background-color: #fff;
  top: 0px;
  left: 0;
  right: 0;
  bottom: 0px;
  z-index: -1;
  transform: scaleX(0);
  transform-origin: left;
  transition: all 0.8s;
}

.btn_pink:hover::before {
  transform: scaleX(1);
}

.btn_pink:hover {
  border: solid 3px #e84949;
  color: black;
}

.hero_section_right {
  position: relative;
}

.absolute {
  position: absolute;
}

.icon_dots {
  z-index: 9;
  bottom: -1rem;
  right: 0;
  animation-name: dotsAnimation;
  animation-duration: 1s;
  animation-iteration-count: infinite;
}

@keyframes dotsAnimation {
  0% {
    transform: translateY(0px);
  }

  50% {
    transform: translateY(-15px);
  }

  100% {
    transform: translateY(0px);
  }
}

.icon_cube {
  z-index: 9;
  top: -0.8em;
  right: 0;
  animation-name: cubeAnimation;
  animation-duration: 3s;
  animation-iteration-count: infinite;
}

@keyframes cubeAnimation {
  0% {
    transform: rotateY(0deg) translateY(0px);
  }

  50% {
    transform: rotateY(180deg) translateY(-12px);
  }

  100% {
    transform: rotateY(360deg) translateY(0px);
  }
}

.icon_circle {
  z-index: 9;
  bottom: 0;
  left: 0;
  animation-name: circleAnimation;
  animation-duration: 6s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

@keyframes circleAnimation {
  50% {
    left: 5%;
    bottom: 10%;
  }
}

.icon_zigzag {
  top: 1.5em;
  left: -0.3em;
  z-index: 9;
  animation-name: zigzagAnimation;
  animation-duration: 4s;
  animation-iteration-count: infinite;
}

@keyframes zigzagAnimation {
  0% {
    transform: translateX(0px);
  }

  50% {
    transform: translateX(12px);
  }

  100% {
    transform: translateX(0px);
  }
}

.icon_plus {
  z-index: 9;
  top: -0.8em;
  left: 50%;
  animation: ShakeeffectPlus 5s ease-in infinite;
}

@keyframes ShakeeffectPlus {
  50% {
    top: 3%;
    left: 48%;
  }
}

.user_img {
  padding: 2.5rem;
  filter: grayscale(1);
  transition: all 1s;
  animation: scaleImage 5s linear infinite;
}

.user_img img {
  z-index: -9;
  /* width: 18rem; */
}

@keyframes scaleImage {
  0% {
    filter: grayscale(1);
    transform: scale(1);
  }

  50% {
    filter: grayscale(0);
    transform: scale(1.1);
    box-shadow: 3px 3px 10px black;
  }

  100% {
    filter: grayscale(0);
    transform: scale(1);
  }
}

.project_section {
  background-color: rgb(231, 231, 231);
  margin-top: 4rem;
}

.page_header {
  color: var(--bgOrange);
  text-align: center;
  font-size: 90px;
  padding-top: 30px;
}

.project_container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 3rem;
  display: flex;
  flex-direction: column;
  gap: 120px;
}

.project_card {
  width: 90%;
  height: 550px;
  background-image: url(./Images/projects/Project2.png);
  background-size: cover;
  /* background-repeat: no-repeat; */
  position: relative;
  box-shadow: 0px 0px 40px #1f1f1f;
}

.project_card::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: #1f1f1f9a;
  z-index: 0;
}

.project_card::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: linear-gradient(45deg, #343d68, #343d68be, #343d687c);
  transform: scaleX(0);
  transform-origin: left;
  transition: all 0.4s;
  z-index: 1;
}

.project_card:hover::before {
  transform: scaleX(1);
}

.project_card:hover .project_num {
  display: block;
}
#project1 {
  background-image: url(./Images/projects/pro1.png);
}

#project2 {
  margin-left: 120px;
  background-image: url(./Images/projects/pro2.png);
}

#project3 {
  background-image: url(./Images/projects/pro4.png);
}

#project4 {
  margin-left: 120px;
  background-image: url(./Images/projects/pro3.png);
}

.project_num {
  color: #fff;
  position: absolute;
  font-size: 200px;
  font-weight: 600;
  z-index: 10;
  display: none;
}

.project_num_right {
  right: -40px;
  top: -45px;
}

.project_num_left {
  left: -40px;
  top: -45px;
}

.project_content {
  position: absolute;
  display: flex;
  flex-direction: column;
  color: white;
  padding: 2rem;
  bottom: 20%;
  z-index: 5;
  gap: 1rem;
  transition: all 0.4s;
}

.project_content_left {
  left: 10%;
}

.project_content_right {
  right: 10%;
}

.project_skills_container {
  width: 70%;
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
}

.project_skill {
  width: 40px;
}

.project_heading {
  font-weight: bold;
  line-height: 3rem;
  font-size: 50px;
  padding: 1rem;
}

.project_subheading {
  width: 100%;
  font-size: 16px;
  font-style: italic;
}

.btn_grup {
  display: flex;
  gap: 0.9rem;
  align-items: center;
}

.btn_Project:hover {
  border: none;
}

ion-icon {
  cursor: pointer;
  color: white;
  font-size: 35px;
  transition: all 0.4s;
  z-index: 49;
}

ion-icon:hover {
  color: var(--bgOrange);
}

.project_card:hover .project_content {
  transform: scale(1.1);
}

.skills-container {
  position: relative;
  display: flex;
  padding: 5rem;
  margin: 10rem auto;
  gap: 30px;
}

.skill-container-left {
  width: 50%;
  display: flex;
  flex-direction: column;
}

.skill-container-right {
  display: flex;
  flex-wrap: wrap;
  width: 50%;
  position: relative;
  gap: 2rem;
  justify-content: center;
}

.skill-fade-text {
  position: absolute;
  font-size: 12em;
  font-weight: 400;
  color: rgb(231, 231, 231);
  bottom: -34.4%;
  right: -5%;
  user-select: none;
  overflow-y: hidden;
}

.blob-style {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  animation: blob 3s linear infinite;
  z-index: -5;
}

@keyframes blob {
  50% {
    top: 54%;
    left: 46%;
  }
}

.skills-logo {
  width: 90px;
  transition: all 0.5s;
}

.skills-logo:hover {
  transform: scale(1.2);
}

.skill-heading {
  font-size: 50px;
  font-style: bold;
  color: var(--bgOrange);
  line-height: 50px;
}

.caps {
  font-size: 90px;
}

.skill-subheading {
  margin-top: 1rem;
  width: 85%;
  text-align: justify;
}

.skill-subheading p {
  margin: 15px 0;
}

.contactus-form-container {
  width: 100%;
  background-color: rgb(231, 231, 231);
}

.contactus-heading {
  padding: 2rem;
  color: var(--bgOrange);
  font-size: 5rem;
}

.contactus-subheading {
  font-size: 3rem;
  color: #343d68aa;
  margin-left: 38px;
  margin-top: -28px;
}

.contactus-form-container {
  margin-top: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 30px;
  width: 70%;
  margin: 2rem 5rem;
}

.formfield-container {
  width: 100%;
}

.formfield {
  width: 100%;
  height: 42px;
  padding: 0 2rem;
  font-size: 18px;
  border-radius: 5px;
  box-shadow: 2px 2px 10px #1f1f1f;
  font-weight: 500;
  margin: 17px;
  border: none;
}

.formfield-textarea {
  height: auto;
  padding-top: 1rem;
}

#submit-btn {
  border: none;
  font-size: 1.4rem;
  margin: 1rem 0;
}

#submit-btn:hover {
  scale: 0.9;
}

.submit-icon {
  padding: 0 1rem;
  font-size: 1.5rem;
  color: #ffffff;
}

footer {
  position: relative;
  margin-top: -1px;
  padding: 5rem;
  background-color: #343d68;
}

.footer-wrapper {
  display: flex;
  gap: 1rem;
  padding: 2rem;
  justify-content: space-between;
  align-items: center;
}

.footer-faded-text {
  position: absolute;
  left: 0;
  bottom: 0;
  color: #535c87;
  font-size: 5rem;
  font-weight: 500;
  user-select: none;
}

.link-wrapper {
  display: flex;
  gap: 1.2rem;
}

.link-wrapper div a {
  color: #ffffff;
  text-decoration: none;
  transition: all 0.6s;
}

.link-wrapper div a:hover {
  color: var(--bgOrange);
  text-decoration: none;
}

.icon-wrapper {
  display: flex;
  gap: 1rem;
}

.footer-icons:hover {
  color: var(--bgOrange);
}
